@media (min-width: 1200px) {
  .header {
    &__left-box {
      padding: 5rem 0;
      padding-right: 6rem;
      height: 737px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      h1 {
        font-size: 6rem;
      }
      p {
        font-size: 1.6rem;
      }
    }

    &__buttons {
      flex-direction: row;
      justify-content: flex-start;

      &--contact {
        margin-bottom: 0;
        margin-right: 3.6rem;
      }
    }
  }

  .offer {
    padding: 12rem 1rem 16rem;

    &__cards {
      gap: 6.4rem;
    }
  }

  .realizations {
    &__gallery {
      .grid-item {
        width: 33.333%;
      }
    }
  }
}
