@media (min-width: 992px) {
  .header {
    &__left-box {
      padding: 4rem 0;
      width: 50%;
      text-align: left;
      h1 {
        padding: 2rem 1rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 4.8rem;
      }
      p {
        padding: 2rem 1rem;
        font-size: 1.4rem;
      }
    }

    &__right-box {
      position: absolute;
      padding: 0;
      top: 0;
      width: 50%;
      left: 50%;
      height: 100%;
    }
  }

  .about-company {
    position: relative;
    .row {
      flex-direction: row-reverse;
    }

    &__left-box {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 0;
      margin-right: 10rem;

      img {
        width: 95%;
      }
    }

    &__right-box {
      justify-content: center;
      padding-left: 9.2rem;
    }
  }

  .contact {
    padding: 6rem 0;

    .container {
      padding: 12rem 11rem;
    }

    .row {
      gap: 0;
    }

    &__right-box {
      padding: 0;
    }
    &__left-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
    }
  }

  .footer {
    padding: 8rem 1rem;

    .container {
      padding: 0;
    }

    &__top {
      .logo-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .text-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
      }

      .text {
        padding-bottom: 0;
        padding-right: 2.4rem;
      }

      .contact-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin: 0 1.6rem 0 0;
        font-size: 1.6rem;
      }
    }
  }
}
