@media (min-width: 768px) {
  .navbar {
    .navbar-nav {
      .nav-link {
        padding: 1.5rem 2.4rem;
      }

      .nav-link-last {
        padding: 1.5rem 0rem 1.5rem 2.4rem;
      }
    }

    .dropdown-menu {
      padding: 1rem;
      width: 200px;
      border-bottom: none;

      .dropdown-item {
        padding: 0.5rem 0;
        font-size: 1.2rem;
        transition: color 0.2s linear;
        &:hover {
          color: colors.$green;
        }
      }
    }
  }

  .realizations {
    &__gallery {
      .grid-item {
        width: 50%;

        img {
          padding: 1rem;
        }
      }
    }
  }
}
