@media (min-width: 768px) {
  .navbar {
    .navbar-nav {
      .nav-link {
        padding: 1.5rem 2.4rem;
      }

      .nav-link-last {
        padding: 1.5rem 0rem 1.5rem 2.4rem;
      }
    }
  }

  .header {
    &__left-box {
      padding: 4rem 0;
      width: 50%;
      text-align: left;
      h1 {
        padding: 2rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 4.8rem;
      }
      p {
        padding: 2rem;
        font-size: 1.4rem;
      }
    }

    &__right-box {
      position: absolute;
      padding: 0;
      top: 0;
      width: 50%;
      left: 50%;
      height: 100%;
      img {
        object-fit: cover;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 2rem 1rem 6rem;

      &--contact,
      &--realizations {
        padding: 1.2rem 2.4rem 1.4rem;
        font-size: 1.6rem;

        border: 1px solid colors.$green;
        border-radius: 200px;
        text-decoration: none;
      }

      &--contact {
        margin-bottom: 2rem;
        color: colors.$white;
        background-color: colors.$green;
      }

      &--realizations {
        color: colors.$green;
      }
    }

    .caruser-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 60px;
      right: 0;
      width: 120px;
      background-color: colors.$lightGray;
    }

    .carousel-control-prev,
    .carousel-control-next {
      position: absolute;
      width: 60px;
      height: 60px;
      background-color: colors.$lightGray;
      color: colors.$black;
      opacity: 1;
    }
  }

  .realizations {
    &__gallery {
      .grid-item {
        width: 50%;

        img {
          padding: 1rem;
        }
      }
    }
  }
}
